In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import metrics
import glob, os

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
pathprem = r'C:\Users\shaqu\OneDrive\Desktop\Masters Course\Dissertation\Project\Dissertation\Data\premierleague' 
pathchamp = r'C:\Users\shaqu\OneDrive\Desktop\Masters Course\Dissertation\Project\Dissertation\Data\championship' 
pathleagueone = r'C:\Users\shaqu\OneDrive\Desktop\Masters Course\Dissertation\Project\Dissertation\Data\leagueone' 
pathleaguetwo = r'C:\Users\shaqu\OneDrive\Desktop\Masters Course\Dissertation\Project\Dissertation\Data\leaguetwo' 


prem = pd.concat(map(pd.read_csv, glob.glob(os.path.join(pathprem, "*.csv")))) #Assaigning the dataframe for all of the premier league datasets , reading all csv's from filepath using glob to access the filepath. Using concat and map to join all of the opened files through pandas
champ = pd.concat(map(pd.read_csv, glob.glob(os.path.join(pathchamp, "*.csv"))))
leagueone = pd.concat(map(pd.read_csv, glob.glob(os.path.join(pathleagueone, "*.csv"))))
leaguetwo = pd.concat(map(pd.read_csv, glob.glob(os.path.join(pathleaguetwo, "*.csv"))))

In [4]:
pd.options.display.max_rows = 200 #display setting for using jupyter notebook
prem #prem seasons have 38 matches over 20 teams, our 11 seasons of data give us 4180 matches.

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/11,Blackburn,Wolves,1.0,2.0,A,1.0,1.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,13/08/11,Fulham,Aston Villa,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,13/08/11,Liverpool,Sunderland,1.0,1.0,D,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,13/08/11,Newcastle,Arsenal,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/08/11,QPR,Bolton,0.0,4.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,Crystal Palace,Man United,1.0,0.0,H,1.0,0.0,H,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,Leicester,Southampton,4.0,1.0,H,0.0,0.0,D,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,Liverpool,Wolves,3.0,1.0,H,1.0,1.0,D,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,Man City,Aston Villa,3.0,2.0,H,0.0,1.0,A,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,Norwich,Tottenham,0.0,5.0,A,0.0,2.0,A,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [5]:
prem.drop(prem.iloc[:, 23:140], inplace=True, axis=1) #dropping the accompined betting data that we wont be using.
prem

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,13/08/11,Blackburn,Wolves,1.0,2.0,A,1.0,1.0,D,...,8.0,4.0,14.0,10.0,12.0,6.0,4.0,2.0,0.0,0.0
1,E0,13/08/11,Fulham,Aston Villa,0.0,0.0,D,0.0,0.0,D,...,9.0,1.0,10.0,18.0,2.0,3.0,2.0,4.0,0.0,0.0
2,E0,13/08/11,Liverpool,Sunderland,1.0,1.0,D,1.0,0.0,H,...,4.0,6.0,17.0,12.0,6.0,3.0,4.0,4.0,0.0,0.0
3,E0,13/08/11,Newcastle,Arsenal,0.0,0.0,D,0.0,0.0,D,...,1.0,4.0,9.0,11.0,2.0,5.0,3.0,5.0,0.0,1.0
4,E0,13/08/11,QPR,Bolton,0.0,4.0,A,0.0,1.0,A,...,7.0,7.0,9.0,16.0,3.0,2.0,1.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,Crystal Palace,Man United,1.0,0.0,H,1.0,0.0,H,...,3.0,4.0,12.0,22.0,3.0,6.0,2.0,4.0,0.0,0.0
376,E0,22/05/2022,Leicester,Southampton,4.0,1.0,H,0.0,0.0,D,...,6.0,2.0,10.0,5.0,3.0,3.0,0.0,1.0,0.0,0.0
377,E0,22/05/2022,Liverpool,Wolves,3.0,1.0,H,1.0,1.0,D,...,8.0,5.0,6.0,3.0,5.0,3.0,1.0,0.0,0.0,0.0
378,E0,22/05/2022,Man City,Aston Villa,3.0,2.0,H,0.0,1.0,A,...,5.0,2.0,5.0,11.0,13.0,1.0,0.0,1.0,0.0,0.0
379,E0,22/05/2022,Norwich,Tottenham,0.0,5.0,A,0.0,2.0,A,...,0.0,13.0,13.0,7.0,3.0,2.0,3.0,1.0,0.0,0.0

In [6]:
champ

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,05/08/11,Hull,Blackpool,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E1,06/08/11,Brighton,Doncaster,2.0,1.0,H,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E1,06/08/11,Bristol City,Ipswich,0.0,3.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E1,06/08/11,Burnley,Watford,2.0,2.0,D,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E1,06/08/11,Coventry,Leicester,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,07/05/2022,Preston,Middlesbrough,4.0,1.0,H,2.0,0.0,H,...,2.15,0.75,1.84,2.06,1.88,2.03,2.00,2.09,1.89,1.96
548,E1,07/05/2022,Sheffield United,Fulham,4.0,0.0,H,3.0,0.0,H,...,2.09,-0.25,1.75,2.05,1.79,2.12,1.85,2.13,1.81,2.03
549,E1,07/05/2022,Stoke,Coventry,1.0,1.0,D,1.0,1.0,D,...,2.15,-0.25,1.91,1.99,1.95,1.95,1.95,2.01,1.90,1.95
550,E1,07/05/2022,Swansea,QPR,0.0,1.0,A,0.0,0.0,D,...,2.71,-0.50,1.92,1.98,1.94,1.96,2.00,1.99,1.95,1.90
551,E1,07/05/2022,West Brom,Barnsley,4.0,0.0,H,2.0,0.0,H,...,2.67,-1.75,1.88,2.02,1.91,1.98,1.99,2.06,1.90,1.95

In [7]:
champ.drop(champ.iloc[:, 23:140], inplace=True, axis=1) #dropping the accompined betting data that we wont be using.
champ #important to note championship ,league one and two fixtures do not include playoff fixtures. Only league matches.

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E1,05/08/11,Hull,Blackpool,0.0,1.0,A,0.0,0.0,D,...,4.0,3.0,8.0,7.0,4.0,6.0,2.0,1.0,0.0,0.0
1,E1,06/08/11,Brighton,Doncaster,2.0,1.0,H,0.0,1.0,A,...,10.0,5.0,11.0,13.0,9.0,4.0,2.0,3.0,0.0,0.0
2,E1,06/08/11,Bristol City,Ipswich,0.0,3.0,A,0.0,1.0,A,...,5.0,4.0,2.0,7.0,12.0,3.0,0.0,0.0,0.0,0.0
3,E1,06/08/11,Burnley,Watford,2.0,2.0,D,0.0,1.0,A,...,11.0,8.0,11.0,11.0,3.0,2.0,1.0,1.0,0.0,0.0
4,E1,06/08/11,Coventry,Leicester,0.0,1.0,A,0.0,0.0,D,...,7.0,3.0,12.0,13.0,4.0,4.0,2.0,4.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,07/05/2022,Preston,Middlesbrough,4.0,1.0,H,2.0,0.0,H,...,10.0,4.0,14.0,13.0,7.0,0.0,3.0,5.0,0.0,1.0
548,E1,07/05/2022,Sheffield United,Fulham,4.0,0.0,H,3.0,0.0,H,...,5.0,4.0,17.0,12.0,2.0,7.0,2.0,1.0,0.0,0.0
549,E1,07/05/2022,Stoke,Coventry,1.0,1.0,D,1.0,1.0,D,...,2.0,5.0,9.0,11.0,4.0,7.0,0.0,1.0,0.0,0.0
550,E1,07/05/2022,Swansea,QPR,0.0,1.0,A,0.0,0.0,D,...,6.0,3.0,9.0,11.0,0.0,5.0,0.0,0.0,0.0,0.0
551,E1,07/05/2022,West Brom,Barnsley,4.0,0.0,H,2.0,0.0,H,...,7.0,2.0,5.0,9.0,6.0,1.0,0.0,1.0,0.0,0.0

In [8]:
leagueone

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,06/08/11,Brentford,Yeovil,2.0,0.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E2,06/08/11,Carlisle,Notts County,0.0,3.0,A,0.0,3.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E2,06/08/11,Charlton,Bournemouth,3.0,0.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E2,06/08/11,Huddersfield,Bury,1.0,1.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E2,06/08/11,Milton Keynes Dons,Hartlepool,2.0,2.0,D,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,30/04/2022,Morecambe,Sunderland,0.0,1.0,A,0.0,1.0,A,...,2.09,0.75,2.05,1.80,2.05,1.84,2.09,1.86,2.02,1.81
548,E2,30/04/2022,Oxford,Doncaster,1.0,1.0,D,1.0,0.0,H,...,3.05,-1.50,1.90,1.95,1.96,1.93,2.00,1.99,1.92,1.88
549,E2,30/04/2022,Plymouth,Milton Keynes Dons,0.0,5.0,A,0.0,3.0,A,...,1.94,0.25,1.83,2.02,1.81,2.09,1.88,2.09,1.81,2.02
550,E2,30/04/2022,Sheffield Weds,Portsmouth,4.0,1.0,H,3.0,1.0,H,...,2.04,-1.00,1.73,2.15,1.76,2.14,1.90,2.21,1.77,2.07
551,E2,30/04/2022,Shrewsbury,Wigan,0.0,3.0,A,0.0,1.0,A,...,1.73,0.50,1.95,1.90,1.97,1.92,2.02,1.94,1.94,1.87

In [9]:
leagueone.drop(leagueone.iloc[:, 23:140], inplace=True, axis=1) #dropping the accompined betting data that we wont be using.
leagueone

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E2,06/08/11,Brentford,Yeovil,2.0,0.0,H,1.0,0.0,H,...,8.0,3.0,6.0,8.0,6.0,4.0,0.0,4.0,0.0,0.0
1,E2,06/08/11,Carlisle,Notts County,0.0,3.0,A,0.0,3.0,A,...,1.0,5.0,10.0,10.0,9.0,5.0,1.0,3.0,0.0,0.0
2,E2,06/08/11,Charlton,Bournemouth,3.0,0.0,H,1.0,0.0,H,...,3.0,3.0,8.0,12.0,7.0,6.0,0.0,3.0,0.0,0.0
3,E2,06/08/11,Huddersfield,Bury,1.0,1.0,D,0.0,0.0,D,...,5.0,5.0,14.0,8.0,5.0,1.0,1.0,2.0,0.0,0.0
4,E2,06/08/11,Milton Keynes Dons,Hartlepool,2.0,2.0,D,0.0,1.0,A,...,8.0,2.0,7.0,6.0,13.0,0.0,2.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,30/04/2022,Morecambe,Sunderland,0.0,1.0,A,0.0,1.0,A,...,0.0,3.0,15.0,13.0,4.0,3.0,4.0,1.0,0.0,0.0
548,E2,30/04/2022,Oxford,Doncaster,1.0,1.0,D,1.0,0.0,H,...,6.0,2.0,12.0,15.0,5.0,7.0,0.0,1.0,0.0,0.0
549,E2,30/04/2022,Plymouth,Milton Keynes Dons,0.0,5.0,A,0.0,3.0,A,...,4.0,11.0,16.0,9.0,1.0,8.0,1.0,0.0,1.0,0.0
550,E2,30/04/2022,Sheffield Weds,Portsmouth,4.0,1.0,H,3.0,1.0,H,...,8.0,3.0,8.0,14.0,7.0,4.0,3.0,1.0,0.0,0.0
551,E2,30/04/2022,Shrewsbury,Wigan,0.0,3.0,A,0.0,1.0,A,...,4.0,4.0,19.0,11.0,0.0,6.0,2.0,0.0,0.0,0.0

In [10]:
leaguetwo

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,06/08/11,AFC Wimbledon,Bristol Rvs,2.0,3.0,A,1.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E3,06/08/11,Bradford,Aldershot,1.0,2.0,A,0.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E3,06/08/11,Gillingham,Cheltenham,1.0,0.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E3,06/08/11,Macclesfield,Dag and Red,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E3,06/08/11,Morecambe,Barnet,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,07/05/2022,Mansfield,Forest Green,2.0,2.0,D,1.0,0.0,H,...,2.07,-0.25,1.80,2.05,1.84,2.06,1.91,2.06,1.85,1.97
548,E3,07/05/2022,Newport County,Rochdale,0.0,2.0,A,0.0,1.0,A,...,2.21,-0.50,1.88,1.98,1.88,2.02,1.96,2.02,1.90,1.91
549,E3,07/05/2022,Oldham,Crawley Town,3.0,3.0,D,2.0,2.0,D,...,2.30,0.00,1.90,1.95,1.89,2.00,1.99,2.02,1.91,1.91
550,E3,07/05/2022,Stevenage,Salford,4.0,2.0,H,2.0,1.0,H,...,2.01,0.00,1.85,2.00,1.88,2.01,1.97,2.04,1.89,1.92
551,E3,07/05/2022,Walsall,Swindon,0.0,3.0,A,0.0,3.0,A,...,2.07,0.75,1.98,1.88,1.97,1.92,2.02,1.98,1.91,1.91

In [11]:
leaguetwo.drop(leaguetwo.iloc[:, 23:140], inplace=True, axis=1) #dropping the accompined betting data that we wont be using.
leaguetwo

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E3,06/08/11,AFC Wimbledon,Bristol Rvs,2.0,3.0,A,1.0,2.0,A,...,3.0,11.0,8.0,15.0,3.0,7.0,1.0,4.0,0.0,0.0
1,E3,06/08/11,Bradford,Aldershot,1.0,2.0,A,0.0,2.0,A,...,3.0,1.0,11.0,14.0,2.0,1.0,1.0,3.0,0.0,0.0
2,E3,06/08/11,Gillingham,Cheltenham,1.0,0.0,H,1.0,0.0,H,...,7.0,4.0,15.0,14.0,5.0,6.0,3.0,2.0,1.0,0.0
3,E3,06/08/11,Macclesfield,Dag and Red,0.0,1.0,A,0.0,0.0,D,...,6.0,8.0,13.0,4.0,8.0,5.0,0.0,2.0,0.0,1.0
4,E3,06/08/11,Morecambe,Barnet,0.0,1.0,A,0.0,0.0,D,...,7.0,6.0,11.0,9.0,9.0,4.0,2.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,07/05/2022,Mansfield,Forest Green,2.0,2.0,D,1.0,0.0,H,...,4.0,5.0,12.0,6.0,4.0,8.0,1.0,1.0,0.0,0.0
548,E3,07/05/2022,Newport County,Rochdale,0.0,2.0,A,0.0,1.0,A,...,2.0,3.0,7.0,7.0,7.0,3.0,0.0,0.0,0.0,0.0
549,E3,07/05/2022,Oldham,Crawley Town,3.0,3.0,D,2.0,2.0,D,...,7.0,10.0,7.0,12.0,3.0,10.0,0.0,1.0,0.0,0.0
550,E3,07/05/2022,Stevenage,Salford,4.0,2.0,H,2.0,1.0,H,...,4.0,8.0,7.0,7.0,3.0,7.0,1.0,0.0,0.0,0.0
551,E3,07/05/2022,Walsall,Swindon,0.0,3.0,A,0.0,3.0,A,...,2.0,5.0,11.0,13.0,7.0,5.0,2.0,2.0,0.0,0.0

In [12]:
print(leaguetwo.loc[[0]])

  Div        Date       HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0  E3    06/08/11  AFC Wimbledon   Bristol Rvs   2.0   3.0   A   1.0   2.0
0  E3    18/08/12  AFC Wimbledon  Chesterfield   1.0   0.0   H   1.0   0.0
0  E3    03/08/13           Bury  Chesterfield   0.0   2.0   A   0.0   0.0
0  E3    09/08/14     Accrington      Southend   0.0   1.0   A   0.0   0.0
0  E3    08/08/15     Accrington         Luton   1.0   1.0   D   0.0   0.0
0  E3    06/08/16     Accrington     Doncaster   3.0   2.0   H   2.0   1.0
0  E3  05/08/2017     Accrington    Colchester   3.0   1.0   H   2.0   0.0
0  E3  04/08/2018           Bury        Yeovil   1.0   0.0   H   0.0   0.0
0  E3  03/08/2019        Salford     Stevenage   2.0   0.0   H   1.0   0.0
0  E3  12/09/2020         Barrow     Stevenage   1.0   1.0   D   1.0   0.0
0  E3  07/08/2021       Carlisle    Colchester   0.0   0.0   D   0.0   0.0

  HTR  ...  HST   AST    HF    AF    HC   AC   HY   AY   HR   AR
0   A  ...  3.0  11.0   8.0  15.0   3.0  7.0  1.0  4.0  0.0  0.0
0   H  ...  4.0  11.0   8.0  12.0   3.0  8.0  1.0  2.0  0.0  0.0
0   D  ...  3.0   2.0  10.0  11.0   8.0  1.0  1.0  1.0  0.0  0.0
0   D  ...  0.0   7.0  13.0   8.0   2.0  4.0  2.0  2.0  0.0  0.0
0   D  ...  4.0   4.0  12.0  15.0   3.0  4.0  1.0  0.0  0.0  0.0
0   H  ...  5.0   9.0  12.0  12.0   2.0  7.0  3.0  2.0  0.0  0.0
0   H  ...  5.0   2.0  12.0  14.0   6.0  6.0  1.0  2.0  0.0  0.0
0   D  ...  4.0   2.0  11.0  10.0  11.0  5.0  0.0  0.0  0.0  2.0
0   H  ...  5.0   2.0  11.0  14.0   3.0  7.0  1.0  0.0  0.0  0.0
0   H  ...  5.0   2.0  11.0  15.0   5.0  5.0  1.0  1.0  0.0  0.0
0   D  ...  6.0   3.0  17.0  14.0   7.0  8.0  2.0  0.0  0.0  0.0

[11 rows x 23 columns]

In [13]:
prem.dtypes

Div          object
Date         object
HomeTeam     object
AwayTeam     object
FTHG        float64
FTAG        float64
FTR          object
HTHG        float64
HTAG        float64
HTR          object
Referee      object
HS          float64
AS          float64
HST         float64
AST         float64
HF          float64
AF          float64
HC          float64
AC          float64
HY          float64
AY          float64
HR          float64
AR          float64
dtype: object

In [14]:
prem["Date"] = pd.to_datetime(prem["Date"]).dt.strftime('%d-%m-%Y') #converting the date to datetime in a specific format as there's two formats in the date column throughout the years
champ["Date"] = pd.to_datetime(champ["Date"]).dt.strftime('%d-%m-%Y')
leagueone["Date"] = pd.to_datetime(leagueone["Date"]).dt.strftime('%d-%m-%Y')
leaguetwo["Date"] = pd.to_datetime(leaguetwo["Date"]).dt.strftime('%d-%m-%Y')

In [15]:
champ

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E1,08-05-2011,Hull,Blackpool,0.0,1.0,A,0.0,0.0,D,...,4.0,3.0,8.0,7.0,4.0,6.0,2.0,1.0,0.0,0.0
1,E1,08-06-2011,Brighton,Doncaster,2.0,1.0,H,0.0,1.0,A,...,10.0,5.0,11.0,13.0,9.0,4.0,2.0,3.0,0.0,0.0
2,E1,08-06-2011,Bristol City,Ipswich,0.0,3.0,A,0.0,1.0,A,...,5.0,4.0,2.0,7.0,12.0,3.0,0.0,0.0,0.0,0.0
3,E1,08-06-2011,Burnley,Watford,2.0,2.0,D,0.0,1.0,A,...,11.0,8.0,11.0,11.0,3.0,2.0,1.0,1.0,0.0,0.0
4,E1,08-06-2011,Coventry,Leicester,0.0,1.0,A,0.0,0.0,D,...,7.0,3.0,12.0,13.0,4.0,4.0,2.0,4.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,05-07-2022,Preston,Middlesbrough,4.0,1.0,H,2.0,0.0,H,...,10.0,4.0,14.0,13.0,7.0,0.0,3.0,5.0,0.0,1.0
548,E1,05-07-2022,Sheffield United,Fulham,4.0,0.0,H,3.0,0.0,H,...,5.0,4.0,17.0,12.0,2.0,7.0,2.0,1.0,0.0,0.0
549,E1,05-07-2022,Stoke,Coventry,1.0,1.0,D,1.0,1.0,D,...,2.0,5.0,9.0,11.0,4.0,7.0,0.0,1.0,0.0,0.0
550,E1,05-07-2022,Swansea,QPR,0.0,1.0,A,0.0,0.0,D,...,6.0,3.0,9.0,11.0,0.0,5.0,0.0,0.0,0.0,0.0
551,E1,05-07-2022,West Brom,Barnsley,4.0,0.0,H,2.0,0.0,H,...,7.0,2.0,5.0,9.0,6.0,1.0,0.0,1.0,0.0,0.0

In [16]:
prem.reset_index(drop = True)
champ.reset_index(drop = True)
leagueone.reset_index(drop = True)
leaguetwo.reset_index(drop = True)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E3,08-06-2011,AFC Wimbledon,Bristol Rvs,2.0,3.0,A,1.0,2.0,A,...,3.0,11.0,8.0,15.0,3.0,7.0,1.0,4.0,0.0,0.0
1,E3,08-06-2011,Bradford,Aldershot,1.0,2.0,A,0.0,2.0,A,...,3.0,1.0,11.0,14.0,2.0,1.0,1.0,3.0,0.0,0.0
2,E3,08-06-2011,Gillingham,Cheltenham,1.0,0.0,H,1.0,0.0,H,...,7.0,4.0,15.0,14.0,5.0,6.0,3.0,2.0,1.0,0.0
3,E3,08-06-2011,Macclesfield,Dag and Red,0.0,1.0,A,0.0,0.0,D,...,6.0,8.0,13.0,4.0,8.0,5.0,0.0,2.0,0.0,1.0
4,E3,08-06-2011,Morecambe,Barnet,0.0,1.0,A,0.0,0.0,D,...,7.0,6.0,11.0,9.0,9.0,4.0,2.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5958,E3,05-07-2022,Mansfield,Forest Green,2.0,2.0,D,1.0,0.0,H,...,4.0,5.0,12.0,6.0,4.0,8.0,1.0,1.0,0.0,0.0
5959,E3,05-07-2022,Newport County,Rochdale,0.0,2.0,A,0.0,1.0,A,...,2.0,3.0,7.0,7.0,7.0,3.0,0.0,0.0,0.0,0.0
5960,E3,05-07-2022,Oldham,Crawley Town,3.0,3.0,D,2.0,2.0,D,...,7.0,10.0,7.0,12.0,3.0,10.0,0.0,1.0,0.0,0.0
5961,E3,05-07-2022,Stevenage,Salford,4.0,2.0,H,2.0,1.0,H,...,4.0,8.0,7.0,7.0,3.0,7.0,1.0,0.0,0.0,0.0
5962,E3,05-07-2022,Walsall,Swindon,0.0,3.0,A,0.0,3.0,A,...,2.0,5.0,11.0,13.0,7.0,5.0,2.0,2.0,0.0,0.0

In [17]:
#leaguetwo.isnull().any()
#nan_values = prem[prem.isna().any(axis=1)]

#print (nan_values)
#temp = leaguetwo[leaguetwo['HomeTeam'].str.contains('Bristol')]
#print(temp)

In [18]:
#nan_values[nan_values.isna().any(1)]

In [19]:
#print(nan_values.iloc[:,9:15])

In [20]:
#nan_values.Referee = nan_values.Referee.fillna('No Ref')
#nan_values.HF = nan_values.HF.fillna(0)
#nan_values = nan_values.fillna(0)
#nan_values = nan_values.dropna()
#nan_values[nan_values.isna().any(1)]

In [21]:
prem = prem.dropna()

In [22]:
champ.Referee = champ.Referee.fillna('No Ref')
champ = champ.fillna(0)
champ = champ.dropna()

In [23]:
leaguetwo.Referee = leaguetwo.Referee.fillna('No Ref')
leaguetwo.HF = leaguetwo.HF.fillna(0)
leaguetwo.AF = leaguetwo.AF.fillna(0)
leaguetwo = leaguetwo.dropna()

In [24]:
leagueone.Referee = leagueone.Referee.fillna('No Ref')
leagueone = leagueone.dropna()